body *{
    font-family: 'Open Sans', sans-serif;
}


body {
    background-color: #e6f8d1;
}

/*  Typography  */

.title-typo h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 75px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 0;
}

.title-typo h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 75px;
    text-align: center;
    margin-top: 0;
}

.page {
    width: 1100px;
    background-color: white;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}

.vis-container {
    width: 100%;
}

.description h2,
h1 {
    margin-top: 0px;
}

.description-right {
    padding-left: 20px;
}

.description-left {
    padding-right: 20px;
}

.pure-g {
    margin-bottom: 40px;
}

.small-font {
    font-size: 14px;
}

.side-by-side {
    font-size: 18px;       
    line-height: 1.6;  
}