body *{
    font-family: 'Open Sans', sans-serif;
}


body {
    background-color: lightgrey;
}

/*  Title  */

.header-typo {
  background-color: #e6f8d1;         
  border-radius: 15px;       
}

.header-typo h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 65px;
    font-weight: 800;
    text-align: center;
    padding-top: 15px;
}

.header-typo h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    padding-bottom: 15px;
    margin-top: -35px;
}

.title-typo h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: 800;
    text-align: left;
    padding-top: 15px;
}

.page {
    width: 1000px;
    background-color: white;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}

.vis-container {
    width: 100%;
}

.description h2,
h1 {
    margin-top: 0px;
}

.description-right {
    padding-left: 20px;
}

.description-left {
    padding-right: 20px;
}

.pure-g {
    margin-bottom: 25px;
}

.small-font {
    font-size: 14px;
}

.side-by-side {
    font-size: 18px;       
    line-height: 1.6;  
}
