body *{
    font-family: 'Open Sans', sans-serif;
}


body {
    background-color: lightgrey;
}

/*  Header  */

.header-typo {
  background-color: #e6f8d1;         
  border-radius: 15px;       
}

.header-typo h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 65px;
    font-weight: 800;
    text-align: center;
    padding-top: 15px;
}

.header-typo h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    padding-bottom: 15px;
    margin-top: -35px;
}

/* Title */
.title-typo {
  text-align: left;
  margin-top: 20px; 
}


.title-typo h1 {
  display: inline-block;     
  padding: 15px 25px;       
  margin-bottom: 15px;      
  
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  font-weight: 800;
  text-align: center;       
  
  background-color: #f7f7f7; 
  border-radius: 8px;       
  border: 1px solid #e0e0e0;   
  
  box-shadow: 0 2px 5px black; 
}



.page {
    width: 1000px;
    background-color: white;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}

.vis-container {
    position: relative;
    width: 100%;
}

.description h2,
h1 {
    margin-top: 0px;
}

.description-right {
    padding-left: 20px;
}

.description-left {
    padding-right: 20px;
}

.pure-g {
    margin-bottom: 25px;
}

.small-font {
    font-size: 14px;
}

.side-by-side {
    font-size: 18px;       
    line-height: 1.6;  
}

/* make the wrapper a positioning context */
.vis-container, .vega-embed {
  position: relative;
}

/* kill the extra right padding Vega-Embed adds */
.vega-embed.has-actions {
  padding-right: 0 !important;
}

/* overlay the actions so they don't affect layout */
.vega-embed .vega-actions {
  position: absolute;
  top: 8px;
  right: 8px;
  margin: 0;
  z-index: 2;
  background: rgba(255,255,255,.85); 
  border-radius: 6px;                 
  padding: 2px 6px;                   
}
.vega-embed .vega-actions a {         
  display: inline-block;
  padding: 2px 6px;
  font-size: 12px;
  text-decoration: none;
}

.gutter-right {
  padding-right: 24px;
  box-sizing: border-box;  /* prevents overflow when adding padding */
}

.gutter-left {
  padding-left: 24px;
  box-sizing: border-box;  /* prevents overflow when adding padding */
}